.movie-column, .seat-column, .slot-column {
    display: inline-block;
    margin: 5px;
    color: rgb(0, 0, 0);
    border: 1px rgb(0, 0, 0) ridge;
    padding: 10px 15px;
    line-height: 1px;
    border-radius: 5px;
    /* box-shadow: 0 0 5px 5px; */
}

.movie-row, .seat-row, .slot-row {
    border-radius: 10px;
    border: 1px black ridge;
    padding: 10px;
    margin-bottom: 10px;
    ;
}

.seat-column {
    min-width: 100px;
    text-align: center;
    padding-bottom: 15px;
    ;
}

.book-button button {
    text-align: center;
    border-radius: 10px;
    font-size: 1em;
    color: white;
    background: rgb(44, 209, 88);
    background: -moz-linear-gradient(233deg, rgba(44, 209, 88, 1) 0%, rgba(44, 108, 224, 1) 100%);
    background: -webkit-linear-gradient(233deg, rgba(44, 209, 88, 1) 0%, rgba(44, 108, 224, 1) 100%);
    background: linear-gradient(233deg, rgba(44, 209, 88, 1) 0%, rgba(44, 108, 224, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2cd158", endColorstr="#2c6ce0", GradientType=1);
    padding: 5px 15px;
    font-weight: 500;
}

.movie-column-selected, .seat-column-selected, .slot-column-selected {
    background: rgb(211, 115, 115);
    /* box-shadow: 0 0 5px 5px; */
}

input {
    width: 50px;
    border-color: rgb(196, 196, 196);
    border-width: 1px;
}

.last-order {
    border-radius: 10px;
    border: 1px black ridge;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    ;
}

/* .btn:hover{
    background-color: #d37373 !important;
    color : black !important
  }
  
  
  */
  
  .active-btn{
    background-color: #d37373 !important;
    
  } 

  .text-center {
    width: 100%;
    position: relative;
    height: 100%;
}

.spinner-border {
    display: block;
    position: fixed;
    top: calc(50% - (58px / 2));  
    right: calc(50% - (58px / 2));
    color: red;
}

#backdrop {
  position:absolute;
  top:0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgb(0,0,0,0.2);
}

.LastBooking{
    border: 1px solid black;
    border-radius: 7px;
    padding: 12px;
    width: 310px;
    height: auto;
    display: grid;
}

.ContainerStyle{
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.selectorWrapper{
    display: flex;
    padding: 19px 0px;
}

.seatWrapper{
    border: 1px solid black;
    margin: 0px 14px 0px 4px;
    border-radius: 8px;
    padding: 10px 0px 10px 21px;
    width: 116px;
}

.BookingButton{

    background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgba(148, 187, 233, 0.325) 100%);
    font-weight: 600;

}

.spinnerWrapper{
    position: absolute;
    left: 120px;
    top: -2px;
}